<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<link rel="stylesheet" href="/Sys/css/layui.css">
<link rel="stylesheet" href="/Sys/css/sign.css">

<link rel="stylesheet"
      href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/Sys/css/font.css">
<link rel="stylesheet" href="/Sys/css/xadmin.css">
<script type="text/javascript"
        src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script type="text/javascript" src="/Sys/js/echarts.js"></script>

<body>


<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">演示</a>
			<a> <cite>导航元素</cite></a>
		</span> <a class="layui-btn layui-btn-small"
                   style="line-height: 1.6em; margin-top: 3px; float: right"
                   href="javascript:location.replace(location.href);" title="刷新"> <i
        class="layui-icon" style="line-height: 30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">


        <div class="layui-form-item">

            <label class="layui-form-label">选择年份：</label>
            <div class="layui-input-inline layui-form">
                <select lay-filter="year">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>


            <label class="layui-form-label">选择月份：</label>
            <div class="layui-input-inline layui-form">
                <select lay-filter="month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>

        </div>

        <table id="test" lay-filter="test"></table>
    </div>

    <div id="main" style="width: 1000px; height: 600px;padding: 50px 100px;"></div>
</div>
</body>

<script type="text/javascript">
    var year = "2019";
    var month = "05";

    var chart = document.getElementById('main');
    var echart = echarts.init(chart);

    //生成图形
    function buildChart(columName, columnValue) {
        var option = {
            title: {
                text: '自然月每一天的访问详情折线图',
                x: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            toolbox: {
                show: true,
                feature: {
                    magicType: {show: true, type: ['line', 'bar']},
                    saveAsImage: {
                        show: true
                    }
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [{
                min: 0,
                type: 'category',
                data: columName
            }],
            yAxis: [{
                min: 0,
                type: 'value'
            }],
            series: columnValue
        };

        echart.setOption(option);
    }


    $.ajax({
        type: "post",
        async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url: "accessDetail/getDaily", //请求发送到TestServlet处
        data: {
            "month": month,
            "year": year
        },
        dataType: "json", //返回数据形式为json
        success: function (result) {
            var columName = result.xAxis;
            var columNamevalue = result.yAxis;
            var columnValue = new Array();
            columnValue.push(
                eval('('
                    + ("{'type':'line','data':["+ columNamevalue +"]}")
                    + ')')
            );
            buildChart(columName, columnValue);
        },
        error: function (errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            echart.hideLoading();
        }
    })

    layui.use(['table', 'form'], function () {
        var form = layui.form;
        form.render();
        form.on('select(month)', function (data) {
            month = data.value;
            $.ajax({
                type: "post",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "accessDetail/getDaily", //请求发送到TestServlet处
                data: {
                    "month": month,
                    "year": year
                },
                dataType: "json", //返回数据形式为json
                success: function (result) {
                    var columName = result.xAxis;
                    var columNamevalue = result.yAxis;
                    var columnValue = new Array();
                    columnValue.push(
                        eval('('
                            + ("{'type':'line','data':["+ columNamevalue +"]}")
                            + ')')
                    );
                    buildChart(columName, columnValue);
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    echart.hideLoading();
                }
            })
        });

        form.on('select(year)', function (data) {
            year = data.value;
            $.ajax({
                type: "post",
                async: true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "accessDetail/getDaily", //请求发送到TestServlet处
                data: {
                    "month": month,
                    "year": year
                },
                dataType: "json", //返回数据形式为json
                success: function (result) {
                    var columName = result.xAxis;
                    var columNamevalue = result.yAxis;
                    var columnValue = new Array();
                    columnValue.push(
                        eval('('
                            + ("{'type':'line','data':["+ columNamevalue +"]}")
                            + ')')
                    );
                    buildChart(columName, columnValue);
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    echart.hideLoading();
                }
            })
        });

    });
</script>


</html>